<div class="auth-page">
  <div class="container page">
    <div class="row">
      <div class="col-md-6 offset-md-3 col-xs-12">
        <h1 class="text-xs-center">{{ title }}</h1>
        <p class="text-xs-center">
          <a *ngIf="authType === 'register'" [routerLink]="['/login']"
            >Have an account?</a
          >
          <a *ngIf="authType === 'login'" [routerLink]="['/register']"
            >Need an account?</a
          >
        </p>
        <app-list-errors [errors]="errors"></app-list-errors>
        <form [formGroup]="authForm" (ngSubmit)="submitForm()">
          <fieldset [disabled]="isSubmitting">
            <fieldset class="form-group">
              <label *ngIf="authType == 'register'">Username</label>
              <input
                *ngIf="authType === 'register'"
                formControlName="username"
                placeholder="Username"
                class="form-control form-control-lg"
                type="text"
              />
            </fieldset>

            <fieldset class="form-group">
              <label>Email</label>
              <input
                formControlName="email"
                placeholder="Email"
                class="form-control form-control-lg"
                type="text"
              />
              <div *ngIf="authForm.controls.email.errors?.['email']">
                <span style="color: red">Email address is invalid</span>
              </div>
            </fieldset>

            <fieldset class="form-group">
              <label>Password</label>
              <input
                formControlName="password"
                placeholder="Password"
                class="form-control form-control-lg"
                type="password"
              />
            </fieldset>

            <fieldset class="form-group">
              <label *ngIf="authType == 'register'">Re-enter Password</label>
              <input
                *ngIf="authType == 'register'"
                formControlName="passwordCheck"
                placeholder="Re-enter Password"
                class="form-control form-control-lg"
                type="password"
              />
              <div
                *ngIf="
                  authForm.hasError('notMatch') &&
                  authForm.controls['passwordCheck']?.touched
                "
              >
                <span style="color: red">Password is not match</span>
              </div>
            </fieldset>

            <button
              class="btn btn-lg btn-primary pull-xs-right"
              [disabled]="!authForm.valid"
              type="submit"
            >
              {{ title }}
            </button>
          </fieldset>
        </form>
      </div>
    </div>
  </div>
</div>
